mixin footer()
    footer.footer
        .container
            .row
                a.footer__logo.col-xl-3.col-lg-3.col-md-3.col-sm-12.col-12(href="#")
                    img(src="../images/white-logo.svg")
                div.footer__line.col-12
                div.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-12
                    div.footer__language-wrapper
                        img.footer__language-planet(src="../images/world.svg")
                        select.footer__language
                            option.footer__language-option Русский 
                            option.footer__language-option English
                            option.footer__language-option Italiano
                    div.footer__social        
                        a.footer__hashtag(href="#")
                            span.footer__hashtag-sign #
                            span.footer__hashtag-text UberEats
                        div.footer__social-networks
                            a.footer__social-networks-item(href="#")
                                img(src="../images/facebook.svg")
                            a.footer__social-networks-item(href="#")    
                                img(src="../images/twitter.svg")
                            a.footer__social-networks-item(href="#")     
                                img(src="../images/instagram.svg")  
                div.footer__links.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-12
                    a(href="#").footer__link Об UberEats
                    a(href="#").footer__link Станьте партнером по доставке
                    a(href="#").footer__link Станьте партнером-рестораном
                div.footer__links.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-12  
                    a(href="#").footer__link Все города
                    a(href="#").footer__link Цены
                    a(href="#").footer__link Помощь
                    a(href="#").footer__link FAQs
                div.footer__line.footer__line_margin-bottom_40px.col-12
                div.footer__download.col-xl-12.col-lg-12.col-md-12
                    a(href="#").footer__download-item
                        img(src="../images/AppStore.svg")
                    a(href="#").footer__download-item    
                        img(src="../images/GooglePlay.svg")
                div.footer__line.footer__line_margin-bottom_40px.col-12
                div.footer__bottom-links.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
                    .container
                        .row
                            a(href="#").footer__bottom-link.col-xl-4.col-lg-4.col-md-4 © 2017 Uber Technologies inc.
                            a(href="#").footer__bottom-link.col-xl-4.col-lg-4.col-md-4 Обработка персональных данных
                            a(href="#").footer__bottom-link.col-xl-4.col-lg-4.col-md-4 Пользовательское соглашение
                            a(href="#").footer__btn-up
                                img(src="../images/arrow.svg")                            