mixin nav()
    nav.nav.col-xl-8.col-lg-8.col-md-10
                a.nav__link.nav__link_active.js-nav__link(href="#") Закуски
                a.nav__link.js-nav__link(href="#") Салаты
                a.nav__link.js-nav__link(href="#") Супы
                a.nav__link.js-nav__link(href="#") Горячие блюда
                a.nav__link.js-nav__link(href="#") Гарниры
                a.nav__link.js-nav__link(href="#") Десерты