mixin photo()
    div.photo
            .container
                .row
                    div.photo__card.col-xl-5.col-lg-5.col-md-7.col-sm-12.col-12
                        h2.photo__header Трактир «Пушкин»
                        span.photo__content ₽₽₽ • Европейская
                        button.photo__button 25 - 35 Min